In [2]:
import pandas as pd
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.metrics.pairwise import cosine_similarity

In [3]:
import pandas as pd

# Sample movie dataset
data = {
    'title': [
        'The Dark Knight', 'Batman Begins', 'The Avengers',
        'Iron Man', 'Captain America: The First Avenger',
        'Man of Steel', 'Thor', 'Wonder Woman', 'Doctor Strange',
        'Guardians of the Galaxy'
    ],
    'genres': [
        'Action Crime Drama', 'Action Crime', 'Action Adventure Sci-Fi',
        'Action Sci-Fi', 'Action Adventure Sci-Fi',
        'Action Adventure Sci-Fi', 'Action Fantasy',
        'Action Fantasy', 'Action Adventure Fantasy',
        'Action Adventure Sci-Fi'
    ],
    'overview': [
        'Batman raises the stakes in his war on crime.',
        'Bruce Wayne begins his journey as Batman.',
        'Earth\'s mightiest heroes must come together.',
        'Tony Stark builds a high-tech suit to fight evil.',
        'Steve Rogers becomes Captain America in World War II.',
        'Superman faces his origins and destiny.',
        'The powerful but arrogant god Thor is cast out.',
        'An Amazonian warrior fights to end war.',
        'A surgeon turns to mystic arts to heal.',
        'A group of intergalactic criminals comes together.'
    ]
}

df = pd.DataFrame(data)
df.to_csv('movies.csv', index=False)

print("✅ movies.csv file created!")

✅ movies.csv file created!

In [4]:
df = pd.read_csv('movies.csv')
df.head()

,title,genres,overview
0,The Dark Knight,Action Crime Drama,Batman raises the stakes in his war on crime.
1,Batman Begins,Action Crime,Bruce Wayne begins his journey as Batman.
2,The Avengers,Action Adventure Sci-Fi,Earth's mightiest heroes must come together.
3,Iron Man,Action Sci-Fi,Tony Stark builds a high-tech suit to fight evil.
4,Captain America: The First Avenger,Action Adventure Sci-Fi,Steve Rogers becomes Captain America in World ...

In [5]:
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.metrics.pairwise import cosine_similarity

In [6]:
df['overview'] = df['overview'].fillna('')

In [7]:
tfidf = TfidfVectorizer(stop_words='english')
tfidf_matrix = tfidf.fit_transform(df['overview'])

In [8]:
cosine_sim = cosine_similarity(tfidf_matrix, tfidf_matrix)

In [9]:
indices = pd.Series(df.index, index=df['title'])

In [10]:
def recommend_movie(title, cosine_sim=cosine_sim):
    idx = indices[title]  # index of the movie
    sim_scores = list(enumerate(cosine_sim[idx]))  # similarity scores
    sim_scores = sorted(sim_scores, key=lambda x: x[1], reverse=True)  # sort
    sim_scores = sim_scores[1:6]  # top 5 similar
    movie_indices = [i[0] for i in sim_scores]
    return df['title'].iloc[movie_indices]